td, th {
	border: 1px solid;
  border-width: thick;
  }

td img {
  width: 50px;
  height: 5%;
  padding: 0px;
}

h1{
  text-align: center;
}

#planets {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

table {
  font-size: 25px;
  width: 100%;
  position: relative;
  text-align: center;
}

body {
  font-family: "Big Shoulders", sans-serif;
}

th {
  padding: 10px;
  background-color:aquamarine;
}

td {
  padding: 10px;
}